/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.row .text {
  font-size: 1.3em;
  font-stretch: expanded;
}
  #banner h1 {
    font-size: 4.2em;
  }
  #banner .row .text {
    font-size: 1.6em;
  }
  footer .row .text {
    font-size: 1.25em;
    margin-left: 7px;
  }

.material-icons {
  font-size: 35px;
}

nav ul a,
nav .brand-logo {
  color: #444;
  height: 80px;
  padding-top: 5px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  background-color:rgba(0,0,0,0.7);
  color: rgba(255,255,255,.9);
}
  .parallax-container#banner {
    min-height: 580px;
  }
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.cd-timeline-img.cd-registration {
  background: #c03b44;
}

.cd-timeline-img.cd-session {
  background: #75ce66;
}

.cd-timeline-img.cd-lunch {
  background: #f0ca45;
}

.cd-timeline-img.cd-hands-on {
  background: #75ce66;
}

.cd-timeline-img.cd-last-session {
  background: #c03b44;
}

#banner{
  display: flex;
  align-items: center;
}

#banner h1.header{
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
}

#banner .section{
  margin: 0;
  padding: 0;
}

.parallax-container{
  background-color: rgba(0,0,0,0.65);
}

@media only screen and (max-width: 992px){
  .parallax-container .section{
    position: relative;
    top: inherit;
  }
  #banner h1.header{
    font-size: 4em;
  }
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

.social {
    padding-top: 50px;
}

.social > li a {
  color: #fff;
}
  .social > li a:Hover, .social > li a.active {
    color: #2da9ff;
    text-decoration: none;
  }

span.fa {
    display: inline-block;
    font-size: 35px;
}

.evtsiteico, .evtsiteico:hover {
    display: inline-block;
    width: 32.5px;
    height: 35px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.lanyrd {
  background: url('../img/icons/lanyrd-blue.png') no-repeat;
  background-size: 25px;
  background-position: 0 8px;
}
  .lanyrd:hover {
    background: url('../img/icons/lanyrd-white.png') no-repeat;
  }

.ebrite {
  margin: 60px 0 10px 0;
}

.list-inline li.sponsor {
  width: 30%;
  padding: 2%;
  margin-bottom: 30px;
}
  .list-inline li.sponsor a {
    display: inline-block;
  }

#info h2 {
  margin-top: 55px;
}