/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  background-color:rgba(0,0,0,0.7);
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.cd-timeline-img.cd-registration {
  background: #c03b44;
}

.cd-timeline-img.cd-session {
  background: #75ce66;
}

.cd-timeline-img.cd-lunch {
  background: #f0ca45;
}

.cd-timeline-img.cd-hands-on {
  background: #75ce66;
}

.cd-timeline-img.cd-last-session {
  background: #c03b44;
}

#banner{
  display: flex;
  align-items: center;
}

#banner h1.header{
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
}

#banner .section{
  margin: 0;
  padding: 0;
}

.parallax-container{
  background-color: rgba(0,0,0,0.65);
}

@media only screen and (max-width: 992px){
  .parallax-container .section{
    position: relative;
    top: inherit;
  }
  #banner h1.header{
    font-size: 3.4em;
  }
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

#sponsors .list-inline li { width: 30%; padding: 2%; margin-bottom: 30px; }